.zoom {
  transition: transform .2s;
  margin: 10px;
}
.zoom:hover {
  transform: scale(1.80); /* (180% zoom) */
}

#canvas71 {
  background-color: aliceblue;
  border: 1px solid black;
}
#canvas72 {
  background-color: aliceblue;
  border: 1px solid black;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.game-cell {
  padding: 10px;
  background-color: lightgrey;
  color: #006747;
  font-size: 100%;
  height:50px;
}
.game-cell:hover{
  padding: 10px;
  background-color: #006747;
  color: white;
}

